.Footer {
  background-color: rgb(31, 152, 233);
  color: white;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.push {
  height: 75px;
}

p {
  overflow: hidden;
  text-align: center;
}
p:before,
p:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}
p:before {
  right: 0.5em;
  margin-left: -50%;
}
p:after {
  left: 0.5em;
  margin-right: -50%;
}

.UsersContainer {
  padding: 30px;
}

input[type=text] {
  border: none;
  width: 150px;
  box-sizing: border-box;
  border: 2px solid rgb(31, 152, 233);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 15px 10px 10px;
  transition: width 0.2s ease-in-out;
}
input[type=text]:focus {
  width: 40%;
}

input[type=password] {
  border: none;
  width: 150px;
  box-sizing: border-box;
  border: 2px solid rgb(31, 152, 233);
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 15px 10px 10px;
  transition: width 0.2s ease-in-out;
}
input[type=password]:focus {
  width: 40%;
}

input[type=number] {
  font-size: 14px;
  padding: 8px;
  /* background-color: rgb(31, 152, 233);
  color: white; */
  width: 15%;
  border-color: rgb(31, 152, 233);
}

.signup {
  padding: 20px;
  font-size: 26px;
  text-align: center;
}

.logout {
  float: right;
}

.loggedin {
  font-size: 24px;
}

.loggedout{
  font-size: 22px;
  text-align: center;
}

input[type=submit] {
  border-radius: 8px;
  background-color: rgb(31, 152, 233);
  font-size: 16px;
  text-align: center;
  color: white;
  padding: 10px 26px;
}

.WatersContainer {
  padding: 30px;
}

.water-entry {
  white-space: pre-wrap;
}

.WaterInputLabel {
  font-size: 20px;
}

.waters {
  font-size: 16px;
}

.todayswaterLink {
  font-size: 22px;
  color: blue; 
}

.dailywater {
  padding: 0px 25px 25px 25px;
}

.cup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 180px;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url(https://image.ibb.co/fmHm66/wave.png);
  background-position: 0px 350px;
  background-repeat: repeat-x;
  animation: filling 10s ease-in-out infinite;
  box-shadow: 0 0 0 6px rgb(0, 0, 0);
}

.cup:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 80px;
  border: 6px solid rgb(0, 0, 0);
  right: -62px;
  top: 30px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

@keyframes filling {
  50% {background-position: 3000px 0px;}
  100% {background-position: 6000px 350px;}
}

/* below is the navbar styling from codepen */

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'calibri';
}

.nav {
  height: 50px;
  width: 100%;
  background-color: rgb(31, 152, 233);
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  /* float: right; */
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}