/* .App {
  text-align: left;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
} */

/* .NavBar {
  top: 0
} */

.Footer {
  /* background-color: #F8F8F8; */
  text-align: right;
  /* padding: 20px; */
  position: fixed;
  left: 0;
  bottom: 0;
  height: 25px;
  width: 100%;
}